.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: relative;
  z-index: 1;
}

.land-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .land-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
}

@media (max-width: 480px) {
  .land-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
  }
}